footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #804099;
  color: #fff;
  padding: 54px;
}

.c-footer {
  &-link {
    &-item {
      width: 33%;
      margin-bottom: 25px;
      &__text {
        line-height: 21px;
      }
    }
  }

  &-contact {
    > p {
      line-height: 21px;
      text-align: right;
    }

    &__company {
      margin-bottom: 15px;
    }
  }
}
